    <!-- **********************************************************************************************************************************************************
          TOP BAR CONTENT & NOTIFICATIONS
          *********************************************************************************************************************************************************** -->
    <!--header start-->
   
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
          MAIN CONTENT
          *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-9 main-chart">
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        <h4 class="title">{{title}} Salle</h4>
                        <div id="message"></div>
                        <form class="contact-form php-mail-form" [formGroup]="addSalleForm">

                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="firstName" placeholder="school room Name" formControlName="name" [(ngModel)]="user.name">
                            </div>

                            <div
                                *ngIf="addSalleForm.controls['name'].invalid && (addSalleForm.controls['name'].touched || addSalleForm.controls['name'].dirty)">
                                <div *ngIf="addSalleForm.controls['name'].errors.required"
                                    style="color: rgb(148, 20, 20);">
                                    school room Name is required

                                </div>

                            </div>


                            <div class="form-group">
                                <input type="number" name="name" class="form-control" id="firstName" placeholder=" number of chair " formControlName="nbchaisse" [(ngModel)]="user.nbchaisse">
                            </div>

                            <div
                                *ngIf="addSalleForm.controls['nbchaisse'].invalid && (addSalleForm.controls['nbchaisse'].touched || addSalleForm.controls['nbchaisse'].dirty)">
                                <div *ngIf="addSalleForm.controls['nbchaisse'].errors.required"
                                    style="color: rgb(148, 20, 20);">
                                    number of chair  is required

                                </div>
                                
                            </div>
                            

                            <div class="form-send">
                                <button class="btn btn-large btn-primary" (click)="addSalleFn(addSalleForm.value)">{{title}} Salle</button>
                            </div>

                        </form>
                    </div>
                </div>


                <div class="col-lg-3 ds">
                    <img src="assets/img/img4.jpg" alt="" height="300" width="250" style="margin-bottom: 30%;">
                    Web development generally refers to the tasks associated with the development of websites intended
                    to be hosted via an intranet or the Internet. The web development process includes, among other
                    things, website design, web content development, client-side or server-side scripting, and network
                    security configuration.
                </div>
                <!-- /col-lg-3 -->
            </div>
            <!-- /row -->
        </section>
    </section>
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            <p>
                &copy; Copyrights <strong>Gestion Académie</strong>. All Rights Reserved
            </p>
            <div class="credits">
                <!--
              You are NOT allowed to delete the credit link to TemplateMag with free version.
              You can delete the credit link only if you bought the pro version.
              Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
              Licensing information: https://templatemag.com/license/
            -->
                Created by ManarDahmou
            </div>
            <a href="index.html#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
<!-- js placed at the end of the document so the pages load faster -->
<div
    style="position: relative; top: 0px; float: right; width: 3px; height: 285px; background-color: rgb(78, 205, 196); background-clip: padding-box; border-radius: 10px;">
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var unique_id = $.gritter.add({
            // (string | mandatory) the heading of the notification
            title: 'Welcome to Dashio!',
            // (string | mandatory) the text inside the notification
            text: 'Hover me to enable the Close Button. You can hide the left sidebar clicking on the button next to the logo.',
            // (string | optional) the image to display on the left
            image: 'img/ui-sam.png',
            // (bool | optional) if you want it to fade out on its own or just sit there
            sticky: false,
            // (int | optional) the time you want it to be alive for before fading out
            time: 8000,
            // (string | optional) the class name you want to apply to that specific message
            class_name: 'my-sticky-class'
        });

        return false;
    });
</script>
<script type="application/javascript">
    $(document).ready(function () {
        $("#date-popover").popover({
            html: true,
            trigger: "manual"
        });
        $("#date-popover").hide();
        $("#date-popover").click(function (e) {
            $(this).hide();
        });

        $("#my-calendar").zabuto_calendar({
            action: function () {
                return myDateFunction(this.id, false);
            },
            action_nav: function () {
                return myNavFunction(this.id);
            },
            ajax: {
                url: "show_data.php?action=1",
                modal: true
            },
            legend: [{
                type: "text",
                label: "Special event",
                badge: "00"
            },
            {
                type: "block",
                label: "Regular event",
            }
            ]
        });
    });

    function myNavFunction(id) {
        $("#date-popover").hide();
        var nav = $("#" + id).data("navigation");
        var to = $("#" + id).data("to");
        console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
</script>