<section id="container"  *ngIf="isHomeRoute()">

    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="index.html" class="logo"><b>Gestion<span>_Académie</span></b></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">
                <!-- settings start -->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                        <i class="fa fa-users"></i>
                        <span class="badge bg-theme">{{nbFormee}}</span>
                    </a>
                </li>
                <!-- settings end -->
                <!-- inbox dropdown start-->
                <li id="header_inbox_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                        <i class="fa fa-home"></i>
                        <span class="badge bg-theme">{{nbSalle}}</span>
                    </a>

                </li>
                <!-- inbox dropdown end -->
                <!-- notification dropdown start-->
                <li id="header_notification_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                        <i class="fa fa-chalkboard-teacher"></i>
                        <span class="badge bg-warning">{{nbFormateur}}</span>
                    </a>
                </li>
                <!-- notification dropdown end -->
            </ul>
            <!--  notification end -->
        </div>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" routerLink="login" (click)='logout()'>Logout</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside >
        <div id="sidebar" class="nav-collapse " style="overflow: scroll;outline: none;
      cursor: -webkit-grab;">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <p class="centered"><a href="profile.html"><img src="assets/img/ui-sam.jpg" class="assets/img-circle"
                            width="80"></a></p>
                <h5 class="centered">Abderahmen Massmoudi</h5>
                <li class="mt">
                    <a class="active" routerLink="acceuil">
                        <i class="fa fa-dashboard"></i>
                        <span (click)='reload()'>Profile</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-plus"></i>
                        <span>*** Add ***</span>
                    </a>
                    <ul class="sub">
                        <!-- <li><a routerLink="addAdmin">ADD Admin</a></li> -->
                        <li><a routerLink="addFormee">ADD Formée</a></li>
                        <li><a routerLink="addFormateur">ADD Formateur</a></li>
                        <li><a routerLink="addFormation">Add Formation</a></li>
                        <li><a routerLink="addSalle">Add Salle</a></li>
                        <li><a routerLink="addStagiere">Add Stagiére</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a routerLink="dashboard">
                        <i class="fa fa-cogs"></i>
                        <span>Dashboard</span>
                    </a>

                </li>


            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
</section>