  <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
 
  <!--sidebar end-->
  <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
  <!--main content start-->
  
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-lg-9 main-chart">
          <section id="main-content">
            <h3 style="color: #4ECDC4;"><i class="fa fa-user"> </i> Formee  </h3>
            <div class="row content-panel mt mb">
              <div class="col-md-12">
                <h2 contenteditable="true" style="margin-bottom: 5%;"><span style="color: #0f9289;"> Name </span> : {{formee.firstName}}
                  {{formee.lastName}}</h2>
                <h3 contenteditable="true" style="margin-bottom: 5%;"> <span style="color: #0f9289;"> age </span> : {{formee.age}}</h3>
                <h3 contenteditable="true" style="margin-bottom: 5%;"> <span style="color: #0f9289;"> phone</span> : {{formee.phone}}</h3>
                <h3 contenteditable="true" style="margin-bottom: 5%;"> <span style="color: #0f9289;">level</span> : {{formee.level}}</h3>
                <h3 contenteditable="true" style="margin-bottom: 5%;"> <span style="color: #0f9289;">Formation</span> : {{formee.Formation}}  </h3>
                <h3 contenteditable="true" style="margin-bottom: 5%;"> <span style="color: #0f9289;">De</span> : {{formee.dateDebutFormation}}   <span style="color: #0f9289;"> à </span>  {{formee.dateFinFormation}}</h3>
                <h3 contenteditable="true" style="margin-bottom: 5%;"> <span style="color: #0f9289;">Price</span> : {{formee.price}} DT  <span style="color: #0f9289;"> mode Payment </span> {{formee.modePayment}}</h3>
                <h4 contenteditable="true" style="margin-bottom: 5%;"> <span style="color: #0f9289;">email</span> : {{formee.email}} </h4>
                <h4 contenteditable="true" style="margin-bottom: 5%;"> <span style="color: #0f9289;">password </span> : {{formee.password}}
                </h4>
              </div>

            </div>
            <!-- /wrapper -->
          </section>
        </div>
<!-- 

        <div class="col-lg-3 ds">
        </div> -->
      </div>
      <!-- /row -->
    </section>
  </section>
  <!--main content end-->
  <!--footer start-->
  <footer class="site-footer">
    <div class="text-center">
      <p>
        &copy; Copyrights <strong>Gestion Académie</strong>. All Rights Reserved
      </p>
      <div class="credits">
        <!--
            You are NOT allowed to delete the credit link to TemplateMag with free version.
            You can delete the credit link only if you bought the pro version.
            Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
            Licensing information: https://templatemag.com/license/
          -->
        Created by ManarDahmou
      </div>
      <a href="index.html#" class="go-top">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>
  </footer>
  <!--footer end-->
<!-- js placed at the end of the document so the pages load faster -->
<div
  style="position: relative; top: 0px; float: right; width: 3px; height: 285px; background-color: rgb(78, 205, 196); background-clip: padding-box; border-radius: 10px;">
</div>

<script type="text/javascript">
  $(document).ready(function () {
    var unique_id = $.gritter.add({
      // (string | mandatory) the heading of the notification
      title: 'Welcome to Dashio!',
      // (string | mandatory) the text inside the notification
      text: 'Hover me to enable the Close Button. You can hide the left sidebar clicking on the button next to the logo.',
      // (string | optional) the image to display on the left
      image: 'img/ui-sam.png',
      // (bool | optional) if you want it to fade out on its own or just sit there
      sticky: false,
      // (int | optional) the time you want it to be alive for before fading out
      time: 8000,
      // (string | optional) the class name you want to apply to that specific message
      class_name: 'my-sticky-class'
    });

    return false;
  });
</script>
<script type="application/javascript">
  $(document).ready(function () {
    $("#date-popover").popover({
      html: true,
      trigger: "manual"
    });
    $("#date-popover").hide();
    $("#date-popover").click(function (e) {
      $(this).hide();
    });

    $("#my-calendar").zabuto_calendar({
      action: function () {
        return myDateFunction(this.id, false);
      },
      action_nav: function () {
        return myNavFunction(this.id);
      },
      ajax: {
        url: "show_data.php?action=1",
        modal: true
      },
      legend: [{
        type: "text",
        label: "Special event",
        badge: "00"
      },
      {
        type: "block",
        label: "Regular event",
      }
      ]
    });
  });

  function myNavFunction(id) {
    $("#date-popover").hide();
    var nav = $("#" + id).data("navigation");
    var to = $("#" + id).data("to");
    console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
  }
</script>